<ul class="page-breadcrumb breadcrumb">
     <li>
          <i class="fa fa-home"></i>
          <a ui-sref="dashboard" >Home</a>
          <i class="fa fa-angle-right"></i>
     </li>
     <li><a href="javascript:void(0);">Add Event Category</a></li>
</ul>
<div class="form">
     <!-- BEGIN EXAMPLE TABLE PORTLET-->
     <div class="portlet light portlet-fit portlet-form bordered" >
          <div class="portlet-title">
               <div class="caption">
                    Add Event Category
               </div>
          </div>
          <div class="portlet-body"> 
               <div class="alert alert-danger show-error" ng-show="error"> <strong>Error! </strong>{{error_code}}</div>
               <form class="form-horizontal form-bordered"   method="post"  enctype="multipart/form-data" ng-submit="Add_EventCategory()" >
                    <div class="form-body">                                
                         <div class="form-group">
                              <label class="col-sm-3 control-label">Name</label>
                              <div class="col-sm-4">
                                   <input type="text" name="name" class="form-control" ng-model="category.name"  value="{{category.name}}" required>
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-3 control-label">Description</label>
                              <div class="col-sm-4">
                                   <input type="text" name="description" class="form-control" ng-model="category.description"  value="{{category.description}}">
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-3 control-label">Status</label>
                              <div class="col-sm-4">
                                   <div class="radio-list">
                                        <label class="radio-inline"><input type="radio" name="status" ng-model="category.status" checked="checked" value="1" > Active </input> </label> 
                                        <label class="radio-inline"><input type="radio" name="status"  ng-model="category.status" value="0" > Inactive</input> </label>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="form-actions">
                         <div class="row">
                              <div class="col-md-offset-3 col-md-9">
                                   <button type="submit" class="btn green" id="add-new-btn" >Submit</button>
                                   <a class="btn default" ui-sref="eventcategories" >Cancel</a>
                              </div>
                         </div>
                    </div>
               </form>
          </div>
     </div>
</div>