<ul class="page-breadcrumb breadcrumb">
     <li>
          <i class="fa fa-home"></i>
          <a ui-sref="dashboard" >Home</a>
          <i class="fa fa-angle-right"></i>
     </li>
     <li><a href="javascript:void(0);">Events</a></li>
</ul>

<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box blue-hoki" ng-init="getEvents()">
     <div class="portlet-title">
          <div class="caption">
               Events
          </div>
          <div class="tools">
          </div>
     </div>
     <div class="portlet-body"> 
          <div class="alert alert-success show-success" ng-show="success"> </div> 
          <div class="col-md-6 row">
               <div class="btn-group">
                    <a class="btn yellow-lemon" ui-sref="addevent"> Add New <i class="fa fa-plus"></i> </a>
               </div>
          </div> <div class="col-md-6 text-right"><label><input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" /></label></div>
          <div ng-show="filteredItems > 0">
               <table class="table table-striped table-bordered table-hover dataTable no-footer">
                    <thead>
                    <th>#</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th> 	
                    <th>Actions</th> 	
                    </thead>
                    <tbody>
                         <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                              <td> {{ $index + 1 }}</td>
                              <td ng-if="data.event_image != ''"><img class="event_img" ng-src="{{data.event_image}}" alt="{{data.event_name}}" style="width: 50px;padding: 5px;" /></td>
                              <td>{{data.event_category}}</td>
                              <td>{{data.event_name}}</td>
                              <td ng-if="data.event_start_time != '0000-00-00 00:00:00'" ng-bind="convertToDate(data.event_start_time) | date:'MM-dd-yyyy hh:mm a'"></td>
                              <td ng-if="data.event_end_time != '0000-00-00 00:00:00'" ng-bind="convertToDate(data.event_end_time) | date:'MM-dd-yyyy hh:mm a'"></td>
                              <td ng-if="data.event_start_time == '0000-00-00 00:00:00'">-</td>
                              <td ng-if="data.event_end_time == '0000-00-00 00:00:00'">-</td>
                              <td ng-if="data.status == 1">Active</td>
                              <td ng-if="data.status == 0">Inactive</td>
                              <td>
                                   <a class="btn default btn-xs blue-hoki" href="#/events/editevent/{{data.id}}" ><i class="fa fa-edit"></i> Edit </a>
                                   <a href="javascript:;" ng-click="Delete_Event(data)" class="btn default btn-xs red-flamingo"><i class="fa fa-trash-o"></i> Delete </a>
                                   <a class="btn default btn-xs blue-soft" href="#/events/eventattendees/{{data.id}}" ><i class="fa fa-users"></i> Attendees </a>
                              </td>
                         </tr>
                    </tbody>
               </table>  
          </div>
          <div class="row" ng-show="filteredItems > 0">  
               <div class="col-md-5 col-sm-12"><div class="dataTables_info" role="status" aria-live="polite">Showing {{ filtered.length }} of {{ totalItems}} entries</div></div>
               <div class="col-md-7 col-sm-12">
                    <pagination  page="currentPage" ng-model="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></pagination>
               </div>
          </div>
          <div class="row" ng-show="filteredItems == 0">
               <div class="col-sm-12 text-center"><p>No record found</p></div>
          </div>
     </div>
</div>
