<ul class="page-breadcrumb breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a ui-sref="dashboard" >Home</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li><a href="javascript:void(0);">Add Time Slot</a></li>
</ul>
<div class="form">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light portlet-fit portlet-form bordered" ng-init="addSlotLoadData()">
        <div class="portlet-title">
            <div class="caption">
                Add Time Slot
            </div>
        </div>
        <div class="portlet-body"> 
            <div class="alert alert-danger show-error" ng-show="error"> <strong>Error! </strong>{{error_code}}</div>
            <form class="form-horizontal form-bordered"   method="post"  enctype="multipart/form-data" ng-submit="Add_TimeSlot()" >
                <div class="form-body">
                    <input type="hidden" name="class_id" ng-model="slot.class_id" />
                    <div class="form-group">
                        <label class="control-label col-md-3">Date</label>
                        <div class="col-md-3">
                            <div class="input-group date" id="start_date">
                                <input type="text" placeholder="Start Date" name="start_date" ng-model="slot.start_date" readonly class="form-control" required>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group date" id="end_date">
                                <input type="text" size="16" placeholder="End Date" name="end_date" ng-model="slot.end_date" readonly class="form-control" required>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Time</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" placeholder="Start Time" id="start_time" name="start_time" ng-model="slot.start_time" readonly class="form-control timepicker" required>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" placeholder="End Time" id="end_time" name="end_time" ng-model="slot.end_time" readonly class="form-control timepicker" required>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Timezone</label> 
                        <div class="col-sm-6" >
                            <select class="form-control select2" id="timezone" name="timezone" ng-options="option.name for option in timezones.availableOptions track by option.id" ng-model="timezones.selectedOption"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Slot Type</label>
                        <div class="col-sm-6">
                            <div class="radio-list">
                                <label class="radio-inline"><input type="radio" name="slot_type" ng-model="slot.slot_type" value="0" > Single Slot </label> 
                                <label class="radio-inline"><input type="radio" name="slot_type"  ng-model="slot.slot_type" value="1" > Interval </label>
                                <label class="radio-inline"><input type="radio" name="slot_type"  ng-model="slot.slot_type" value="2" > Number Of Slots </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="slot.slot_type == '1'">
                        <label class="col-sm-3 control-label">Slot Interval</label>
                        <div class="col-sm-6">
                            <input type="text" name="slot_interval" placeholder="Slot Interval" class="form-control" ng-model="slot.slot_interval" />
                        </div>
                    </div>
                    <div class="form-group" ng-show="slot.slot_type == '2'">
                        <label class="col-sm-3 control-label">Total Slots</label>
                        <div class="col-sm-6">
                            <input type="text" name="total_slots" placeholder="Total Slots" class="form-control" ng-model="slot.total_slots" />
                        </div>
                    </div>
                    <div class="form-group" ng-show="slot.slot_type != '0'">
                        <label class="col-sm-3 control-label">Recurring</label>
                        <div class="col-sm-6">
                            <div class="radio-list">
                                <label class="radio-inline"><input type="radio" name="recurring_type" ng-model="slot.recurring_type" value="1" > Daily </label> 
                                <label class="radio-inline"><input type="radio" name="recurring_type"  ng-model="slot.recurring_type" value="2" > Weekly </label>
                                <label class="radio-inline"><input type="radio" name="recurring_type"  ng-model="slot.recurring_type" value="3" > Monthly </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="slot.slot_type != '0' && slot.recurring_type == '2'">
                        <label class="col-sm-3 control-label">Recurring Week Days</label>
                        <div class="col-sm-6">
                            <div class="checkbox-list">
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_weeks[7]" ng-model="slot.recurring_weeks[7]" value="7" > Sun </label> 
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_weeks[1]"  ng-model="slot.recurring_weeks[1]" value="1" > Mon </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_weeks[2]"  ng-model="slot.recurring_weeks[2]" value="2" > Tue </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_weeks[3]"  ng-model="slot.recurring_weeks[3]" value="3" > Wed </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_weeks[4]"  ng-model="slot.recurring_weeks[4]" value="4" > Thu </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_weeks[5]"  ng-model="slot.recurring_weeks[5]" value="5" > Fri </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_weeks[6]"  ng-model="slot.recurring_weeks[6]" value="6" > Sat </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="slot.slot_type != '0' && slot.recurring_type == '3'">
                        <label class="col-sm-3 control-label">Recurring Month Base</label>
                        <div class="col-sm-6">
                            <div class="radio-list">
                                <label class="radio-inline"><input type="radio" name="recurring_months_base" ng-model="slot.recurring_months_base" value="1" > Date Basis </label> 
                                <label class="radio-inline"><input type="radio" name="recurring_months_base" ng-model="slot.recurring_months_base" value="2" > Day Basis </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="slot.slot_type != '0' && slot.recurring_type == '3' && slot.recurring_months_base == '1'">
                        <label class="col-sm-3 control-label">Recurring Month Dates</label>
                        <div class="col-sm-6">
                            <div class="checkbox-list">
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[1]"  ng-model="slot.recurring_month_date[1]" value="1" > 1 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[2]"  ng-model="slot.recurring_month_date[2]" value="2" > 2 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[3]"  ng-model="slot.recurring_month_date[3]" value="3" > 3 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[4]"  ng-model="slot.recurring_month_date[4]" value="4" > 4 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[5]"  ng-model="slot.recurring_month_date[5]" value="5" > 5 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[6]"  ng-model="slot.recurring_month_date[6]" value="6" > 6 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[7]"  ng-model="slot.recurring_month_date[7]" value="7" > 7 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[8]"  ng-model="slot.recurring_month_date[8]" value="8" > 8 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[9]"  ng-model="slot.recurring_month_date[9]" value="9" > 9 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[10]" ng-model="slot.recurring_month_date[10]" value="10" > 10 </label> 
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[11]"  ng-model="slot.recurring_month_date[11]" value="11" > 11 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[12]"  ng-model="slot.recurring_month_date[12]" value="12" > 12 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[13]"  ng-model="slot.recurring_month_date[13]" value="13" > 13 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[14]"  ng-model="slot.recurring_month_date[14]" value="14" > 14 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[15]"  ng-model="slot.recurring_month_date[15]" value="15" > 15 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[16]"  ng-model="slot.recurring_month_date[16]" value="16" > 16 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[17]"  ng-model="slot.recurring_month_date[17]" value="17" > 17 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[18]"  ng-model="slot.recurring_month_date[18]" value="18" > 18 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[19]"  ng-model="slot.recurring_month_date[19]" value="19" > 19 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[20]" ng-model="slot.recurring_month_date[20]" value="20" > 20 </label> 
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[21]"  ng-model="slot.recurring_month_date[21]" value="21" > 21 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[22]"  ng-model="slot.recurring_month_date[22]" value="22" > 22 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[23]"  ng-model="slot.recurring_month_date[23]" value="23" > 23 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[24]"  ng-model="slot.recurring_month_date[24]" value="24" > 24 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[25]"  ng-model="slot.recurring_month_date[25]" value="25" > 25 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[26]"  ng-model="slot.recurring_month_date[26]" value="26" > 26 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[27]"  ng-model="slot.recurring_month_date[27]" value="27" > 27 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[28]"  ng-model="slot.recurring_month_date[28]" value="28" > 28 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[29]"  ng-model="slot.recurring_month_date[29]" value="29" > 29 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[30]"  ng-model="slot.recurring_month_date[30]" value="30" > 30 </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_date[31]" ng-model="slot.recurring_month_date[31]" value="31" > 31 </label> 
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="slot.slot_type != '0' && slot.recurring_type == '3' && slot.recurring_months_base == '2'">
                        <label class="col-sm-3 control-label">Recurring Month Every</label>
                        <div class="col-sm-6">
                            <div class="checkbox-list">
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_every[1]" ng-model="slot.recurring_month_every[1]" value="1" > First </label> 
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_every[2]"  ng-model="slot.recurring_month_every[2]" value="2" > Second </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_every[3]"  ng-model="slot.recurring_month_every[3]" value="3" > Third </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_every[4]"  ng-model="slot.recurring_month_every[4]" value="4" > Fourth </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_every[5]"  ng-model="slot.recurring_month_every[5]" value="5" > Fifth </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_every[6]"  ng-model="slot.recurring_month_every[6]" value="6" > Last </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="slot.slot_type != '0' && slot.recurring_type == '3' && slot.recurring_months_base == '2'">
                        <label class="col-sm-3 control-label">Recurring Month Days</label>
                        <div class="col-sm-6">
                            <div class="checkbox-list">
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_day[7]" ng-model="slot.recurring_month_day[7]" value="7" > Sun </label> 
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_day[1]"  ng-model="slot.recurring_month_day[1]" value="1" > Mon </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_day[2]"  ng-model="slot.recurring_month_day[2]" value="2" > Tue </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_day[3]"  ng-model="slot.recurring_month_day[3]" value="3" > Wed </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_day[4]"  ng-model="slot.recurring_month_day[4]" value="4" > Thu </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_day[5]"  ng-model="slot.recurring_month_day[5]" value="5" > Fri </label>
                                <label class="checkbox-inline"><input type="checkbox" name="recurring_month_day[6]"  ng-model="slot.recurring_month_day[6]" value="6" > Sat </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Attendee Limit</label>
                        <div class="col-sm-6">
                            <div class="radio-list">
                                <label class="radio-inline"><input type="radio" name="attendee_type" ng-model="slot.attendee_type" value="0" > No Limit </label> 
                                <label class="radio-inline"><input type="radio" name="attendee_type"  ng-model="slot.attendee_type" value="1" > Limited Attendees </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="slot.attendee_type == '1'">
                        <label class="col-sm-3 control-label">Total Attendees</label>
                        <div class="col-sm-6">
                            <input type="text" name="attendee_limit" placeholder="Total Attendees" class="form-control" ng-model="slot.attendee_limit" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Registration Cut Off</label>
                        <div class="col-sm-6">
                            <input type="text" name="registration_cut_off" placeholder="Registration Cut Off - Number Of Days Before The Event" class="form-control" ng-model="slot.registration_cut_off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-4">
                            <div class="radio-list">
                                <label class="radio-inline"><input type="radio" name="status" ng-model="slot.status" value="1" > Active </label> 
                                <label class="radio-inline"><input type="radio" name="status"  ng-model="slot.status" value="0" > Inactive </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green" id="add-new-btn">Submit</button>
                            <a class="btn default" ui-sref="timeslots({id: {{slot.class_id}}})">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>